*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navbar{
    background: rgb(0, 128, 107);
    color: aliceblue;
    height: 60px;
    width: 100vw;
    position: relative;
    top: 0;
}

#navbar ul{
    display: inline-flex;
    width:50vw;
    list-style: none;
    height: 100%;
    margin-left: 15%;
}

#navbar ul li{
    cursor: pointer;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#navbar ul li a{
    padding: 15px;
    color: aliceblue;
    text-decoration: none;
    width: 100%;
    display: block;
    height: 100%;
    letter-spacing: 2px;
    font-size: 1.4em;
    font-weight: 500;
}

#navbar ul li a:hover{
    background-color: #4CAF50;
}

nav#aside{
    position: fixed;
    min-width: 60px;
    text-align: center;
    margin: 30px;
    border-right: 2px solid #ddd;
}

#aside ul li{
    display: block;
    margin: 0 20px;
    list-style: none;
    padding-bottom: 20px;
}

.nav-link{
    text-decoration: none;
    display: block;
    color: green;
    font-weight: 600;
}

.nav-link:hover, .nav-link:active{
    color: black;
}

#main-doc{
    margin-left: 18%;
    height: auto;
    width: 80vw;
}

.main-section{
    margin: 50px 0;
    border-top: none;
    border-radius: 5px;
}

.main-section a{
    color: green;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid;
    cursor: pointer;
}

.main-section article ul{
    margin:10px 40px;
}
.main-section article ul li{
    padding:px;
}

.main-section article{
    margin: 20px;
    padding-left: 20px;
    line-height: 24px;
}

h3, h4{
    margin-top: 25px;

}

h2{
    margin: 30px 0;
    text-align: center;
    letter-spacing: 3px;
    color: rgb(170, 0, 0);
}

h5{
    padding-bottom: 12px;
    border-bottom: 1px solid #aaa;
    letter-spacing: 1px;
}

.snippet{
    background: #ddd;
    padding: 2px;
    color: maroon;
    font-weight: 600;
    font-family: "Consolas", 'Courier New', Courier, monospace;
    border-radius: 3px;
    border-bottom: 1px solid;
}

code{
    display: block;
    white-space: pre-line;
    text-align: left;
    word-break: normal;
    word-wrap: break-word;
    padding: 15px;
    font-family: "Consolas", 'Courier New', Courier, monospace;
    width: 100%;
    font-size: 0.8em;
    border-left: 5px solid rgb(24, 95, 177);
    margin: 25px 0 !important;
    border-radius: 5px;
    box-shadow: 2px 2px #bbb;
    font-size: 0.98em;
    background: linear-gradient(to bottom, #eee 5%,#fff 90%);

}

@media(max-width:1000px){
    aside{
        display: none;
    }
    #main-doc{
        margin: 0 auto;
    }

    #navbar ul{
        width: 60%;
    }

}
